<div class="row h-100 lightbox">
  <button type="button" class="close clickable" aria-label="Close" onclick="closeLightbox();">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="col-12 text-center my-auto">

  <h2>Edit <%= @tenant.name %></h2>

  <%= render 'form', tenant: @tenant %>

  </div>
</div>
