<div class="row">
  <div class="offset-md-2 col-8">

    <h1 >Welcome to ELLY!</h1>

    <hr/>

    <h3 class="text-muted">Coming from Everest? Here's what you need to know</h3>
    
    <br/>

    <p>ELLY was created to make tenant billing as simple as possible for building managers and tenants alike. Managing your tenants, billing, payments, meters, and invoices is as easy as logging into your account.</p><p>Our hope is that once your account is set up - whether you do it yourself via the simple webpage, or we take care of it for you - you will never have to worry about tenant billing again!</p>
    
    <br/>

    <h4>
    ELLY takes care of tenant billing so that you don't have to.
    </h4>

    <br/>

    <ul>
      <li>Unlike Everest, your tenants will pay their energy bill online via their ELLY accounts</li>
      <li>While there is a one-time account setup fee, there are no recurring fees for owners.</li>
      <ul>
        <li><strong>The account setup fee is waived for beta testing partners</strong></li>
      </ul>
      <li>The tenant is charged a 2.9% service charge when paying their invoice each month</li>
      <li>Your tenants will be notified by email each month when their invoices are ready for viewing and payment</li>
    </ul>
    <ul>
      <li>Your ELLY account will be the central location for you to:</li>
      <ul>
        <li>Manage your tenants</li>
        <li>Assign meters to your tenants from your BAS</li>
        <li>View your tenants' month to month HVAC usage</li>
        <li>View your tenants' past invoices</li>
        <li>Change your billing preferences, e.g. days until due, billing cycle start date, etc.</li>
      </ul>
    </ul>

  </div>
</div>