<div class="row">
  <div class="offset-md-2 col-8">

    <h1 >Welcome to Elly!</h1>

    <hr/>

    <h3 class="text-muted">Coming from Everest? Here's what you need to know</h3>
    
    <br/>

    <p>Elly's aim is to make tenant billing as simple as possible for building managers and tenants alike. Managing your tenants, billing, payments, meters, and invoices is as easy as logging into your account. Our hope is that after your one time setup, you won't have to think about tenant billing ever again.</p>
    
    <h4>
    Elly is made to take care of tenant billing so that you don't have to.
    </h4>

    <br/>

    <ul>
      <li>Unlike Everest, your tenants will pay their energy bill online via their Elly accounts</li>
      <li>Elly is free for owners. The tenant is charged a 2.9% service charge when paying their bill</li>
      <li>Each month, tenants will be notified by email when their invoices are ready for viewing and payment</li>
    </ul>
    <ul>
      <li>Your Elly account will be the central location for you to:</li>
      <ul>
        <li>Manage your tenants</li>
        <li>Assign meters to your tenants from your BAS</li>
        <li>View your tenants' month to month HVAC usage</li>
        <li>View your tenants' past invoices</li>
        <li>Change your billing preferences, e.g. days until due, billing cycle start date, etc.</li>
      </ul>
    </ul>

  </div>
</div>