<div class="row">
  <div class="offset-md-2 col-8">

    <div class="text-center">
      <%= image_tag "header-logo.png", class: "w-75", id: "logo" %>
    </div>

    <br>

    <div class="text-center">
      <%= image_tag "laptop.png", class: "w-50", id: "laptop" %>
    </div>

    <br/>
    <br/>

    <h3 class="text-muted text-center font-bold" style="font-weight: bold">ELLY is the most streamlined and user-friendly tenant billing solution available for your building automation system</h3>
    
    <br/>

    <p>ELLY was created to make tenant billing as simple as possible for building managers and tenants alike. Managing your tenants, billing, payments, meters, and invoices is as easy as logging into your account.</p><p>Our hope is that once your account is set up - whether you do it yourself via the simple webpage, or we take care of it for you - you will never have to worry about tenant billing again!</p>
    
    <br/>

    <h4 class="text-center font-weight-bold">
    ELLY takes care of tenant billing so that you don't have to.
    </h4>

    <br/>
  </div>
</div>
<div class="row information-panel">
  <div class="offset-md-3 col-6">

    <h4 class="text-muted">Key Information</h4>
    <ul>
      <li>Instead of paper bills, checks, and invoices, <span class="font-weight-normal">your tenants will pay their energy bill online via their ELLY accounts</span></li>
      <li>While there is a one-time account setup fee, there are no recurring fees for owners.</li>
      <ul>
        <li><strong>The account setup fee is waived for beta testing partners</strong></li>
      </ul>
      <li>The tenant is charged a 2.9% service charge when paying their invoice each month</li>
      <li>Your tenants will be notified by email each month when their invoices are ready for viewing and payment</li>
    </ul>
    <ul>
      <li>Your ELLY account will be the central location for you to:</li>
      <ul>
        <li>Manage your tenants</li>
        <li>Assign meters to your tenants from your BAS</li>
        <li>View your tenants' month to month HVAC usage</li>
        <li>View your tenants' past invoices</li>
        <li>Change your billing preferences, e.g. days until due, billing cycle start date, etc.</li>
      </ul>
    </ul>

  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-6">
    <br/><br/>
    <h3 class="text-center font-weight-bold">
      <%= link_to "Contact us", sign_up_path %> to get started!
    </h3>
    <br/>
    <br/>
    <div class="text-center">
      <%= image_tag "logo.png", class: "w-25" %>
    </div>
    <br/>
    <br/>
  </div>
</div>

<script type="text/javascript">
  $('#logo').hide().fadeIn(1500);
</script>