<div class="row">
  <div class="offset-md-2 col-8">

    <div class="text-center">
      <%= image_tag "header-logo.png", class: "w-75", id: "logo" %>
    </div>

    <br>

    <h1 class="text-center font-bold" style="font-weight: bold">Pricing</h1>


    <br/>
    <br/>

    <p class="text-center">ELLY's pricing structure is designed to be as straightforward and understandable as possible, with only two simple fees <br><strong>and no recurring costs for building managers</strong></p>
    
    <br/>

    <h4 class="text-muted text-center font-weight-bold">
    The Details
    </h4>

    <br/>
  </div>
</div>
<div class="row information-panel">
  <div class="col-12">

    <div class="row">
      <div class="offset-md-3 col-3 text-center">
        <h3>Set Up Fee</h3>
        <!-- <p>A <strong>one-time</strong> set up fee to get your building, meters, and tenants configured in ELLY</p>  -->
        <p>A <strong>one-time</strong> set up fee to get ELLY configured <br>for your building, tenants and meters</p>
      </div>
      <div class="col-3 text-center">
        <h2 class="font-weight-bold text-muted">$1500</h2>
        <span class="font-italic">(waived for beta testers)</span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="offset-md-3 col-3 text-center">
        <h3>Processing Fee</h3>
        <p>A small % fee charged to the tenant <br>at time of invoice payment.</p>
      </div>
      <div class="col-3 text-center">
        <h2 class="font-weight-bold text-muted">2.9%</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-6">
    <br/><br/>
    <h3 class="text-center font-weight-bold">
      <%= link_to "Contact us", sign_up_path %> to get started!
    </h3>
    <br/>
    <br/>
    <div class="text-center">
      <%= image_tag "logo.png", class: "w-25" %>
    </div>
    <br/>
    <br/>
  </div>
</div>

<script type="text/javascript">
  $('#logo').hide().fadeIn(1500);
</script>