<div class="row">
  <div class="offset-md-2 col-8">

    <div class="text-center">
      <%= image_tag "header-logo.png", class: "w-75", id: "logo" %>
    </div>

    <br>

    <div class="text-center">
      <%= image_tag "laptop.png", class: "w-50", id: "laptop" %>
    </div>

    <br/>
    <br/>

    <h3 class="text-muted text-center font-bold" style="font-weight: bold">No more paper invoices. No more writing checks.<br>With ELLY, paying your utility bills is the easiest thing you'll do all day.</h3>
    
    <br/>

    <p>ELLY was created to make tenant billing as simple as possible for building managers and tenants alike. Analyzing your usage, viewing your past invoices, and paying your bills is as easy as logging into your account.</p>

    <p>Our aim is that with ELLY, worrying about utility bills is a thing of the past!</p>
    
    <br/>

    <h4 class="text-center font-weight-bold">
    ELLY takes care of utility payments so that you don't have to.
    </h4>

    <br/>
  </div>
</div>
<div class="row information-panel">
  <div class="offset-md-3 col-6">

    <h4 class="text-muted">Key Information</h4>
    <ul style="margin-bottom: 0">
      <li>No more writing checks and mailing payments. You will easily pay your invoices online through ELLY</li>
      <li>You will be emailed each month when your invoices are ready for viewing and payment</li>
      <li>If you want to be even more hands-off, ELLY's automatic payments allow you to set it and forget it</li>
    </ul>
    <ul>
      <li><strong>Your ELLY account will be the central location for you to:</strong></li>
      <ul>
        <li>View your current and past invoices</li>
        <li>Configure your payment settings</li>
        <li>View your month-to-month HVAC usage</li>
        <li>Pay your outstanding balances</li>
      </ul>
    </ul>
  
  <strong>If you haven't already, you will receive an invitation to join ELLY via email.<br>All you need to do is click your personalized link to finish creating your account!</strong>
  </div>
</div>

<div class="row">
  <div class="offset-md-3 col-6">
    <br/><br/>
    <h3 class="text-center font-weight-bold">
      We can't wait for you to get started!
    </h3>
    <br/>
    <br/>
    <div class="text-center">
      <%= image_tag "logo.png", class: "w-25" %>
    </div>
    <br/>
    <br/>
  </div>
</div>

<script type="text/javascript">
  $('#logo').hide().fadeIn(1500);
</script>