
<div class="row h-100">
  <div class="offset-3 col-6 text-center my-auto">

    <%= image_tag "header-logo.png", class: "w-75", id: "logo" %>

    <h2 class="text-center">Success!</h2>
    <h5 class="text-center">We'll be in touch shortly. We are excited to introduce you to ELLY!</h5>
    <br/>
    <br/>

  </div>
</div>


<script type="text/javascript">
  $('#logo').hide().fadeIn(1500);
</script>