
<div class="row h-100">
  <div class="offset-3 col-6 text-center my-auto">
    <h2 class="text-center">Welcome To Elysium</h2>
    <h5 class="text-center">Send us a little information about yourself, and we will be in touch shortly to help you finish creating your account.</h5>
    <br/>
    <br/>
    
    <%= render 'form', message: @message %>

  </div>
</div>

