
<div class="row h-100">
  <div class="offset-md-1 col-md-4 text-center my-auto">
    <%= image_tag "logo.png", class: "w-50" %>

    <br>
    <br>

    <h2 class="text-center font-weight-normal">Welcome to ELLY</h2>
    <h5 class="text-center">Send us a little information about yourself, and we will be in touch shortly to help you get started with ELLY!</h5>
  </div>
  <div class="offset-md-1 col-md-4 text-center my-auto" id="contact-form">
    <%= render 'form', message: @message %>
  </div>
</div>

