<%= form_with(model: user, local: true) do |form| %>
  
  <div id="login-form">
    <h4>Change your email</h4>
    <%= render 'errors/form_errors', object: @user %>
    </br>
    <div class="field">
      <%= form.text_field :email, id: :user_email, placeholder: "email" %>
    </div>
    </br>
    <div class="actions">
      <%= form.submit id: "login-button", class: "btn-outline-primary", value: "Update Email" %>
    </div>
  </div>
 
<% end %>
