<% if object.errors.any? %>
  <% 
    objectName = object.class.name
    if (objectName == "BillableMeter")
      objectName = "meter"
    end
  %>
  </br>
  <div class="row">
    <div id="error_explanation" class="col-12">
      <h4 class="text-muted">Oops! We need a little more info to save this <%= objectName %>:</h4>

      <ul class="list-unstyled">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>