<h1>Welcome to Elysium!</h1>

<h4><%= @user.name %> has invited you to Elysium, the most streamlined and user-friendly tenant billing appliation on the market. 
<br/>
<br/>
Finish signing up for your account here: <a href="http://localhost:3000/tenant_sign_up/<%= @user.account.id %>/<%= @tenant.id %>">Sign Up</a>
</h4>
