/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap"

$accent-color: rgb(63,151,245)
$translucent-accent-color: rgba(63,151,245,.97)
$light-accent-color: rgba(63,151,245,.1)
$darker-accent-color: rgba(63,151,245,.3)
$light-gray: #FBFBFB
$gray: #A1A1A1
$navbar-height: 60px
$hover-transition-time: .25s

div 
  font-family: 'SanFranciscoDisplay-Thin','Segoe UI Light' !important

html,body,.container
  height: 100%

a#title
  text-decoration: none
  color: $accent-color
  letter-spacing: 5px
  font-size: 1.1em
  font-family: 'SanFranciscoDisplay-Bold','Segoe UI Semibold' !important

img
  padding: 10px

.container, .container-fluid
  padding-top: 100px
  height: 100%
  > .h-100
    margin-top: -50px

.clickable
  cursor: pointer

.hide
  display: none

.noborder
  margin: 0
  padding: 0

.light-gray
  background: $light-gray

sup
  top: -.75em
  font-size: 50%

.btn-outline-primary 
  border-width: 1px
  border-radius: 2px
  color: $accent-color
  border-color: $accent-color
  &:hover
    background-color: $accent-color

.btn-large
  width: 300px
  padding: 10px
  margin: 30px 0

#notices
  position: fixed
  display: table
  width: 100%
  height: $navbar-height
  z-index: -1
  .flash_notice
    text-align: center
    display: table-cell
    vertical-align: middle

nav
  height: $navbar-height
  position: fixed
  width: 100%
  img 
    height: $navbar-height

.navbar-toggler
  float: right
  margin-right: 20px
  padding-top: 14px
  border: none

.navbar-default .navbar-toggler .icon-bar
  background-color: $accent-color

.navbar-toggler
  .navbar-toggler-icon
    cursor: pointer

#billing-cycles
  background: #FEFEFE
  border-radius: 4px

.header-icon
  text-align: center
  img
    width: 80%
    border-radius: 90px
    -o-transition: $hover-transition-time  
    -ms-transition: $hover-transition-time  
    -moz-transition: $hover-transition-time  
    -webkit-transition: $hover-transition-time  
    transition: $hover-transition-time  
    &:hover
      background: $light-accent-color

.large-currency
  font-size: 3em
  font-weight: 100

.full-width-image
  width: 100%

.contact-image
  width: 35%
  max-width: 280px

.text-muted
  color: $accent-color !important
  opacity: .8

.field, .field_with_errors
    input:not(.checkbox), select
      border: none
      border-bottom: 1px solid lightgray
      height: 2em
      padding: 4px 8px
      border-radius: 2px
      width: 280px

.field_with_errors
  input
    // border-color: red
  input::-webkit-input-placeholder 
    color: $red !important

.checkbox
  padding-top: 10px
  font-size: .9em
  color: $gray

.panel-heading
  padding: 10px
  margin-bottom: 0
  &:hover
    color: $accent-color

.panel-heading:not(.collapsed)
  text-decoration: underline
  text-decoration-line: .5px
  background-color: $light-gray

.half-width
  width: 50%

table  
  width: 100%

.table
  display: table

.table-row
  padding: 4px
  display: table-row

.table-header-row
  font-weight: bold
  .table-row-item
    border-bottom: none

.table-totals
  font-size: 1.1em
  font-weight: bold
  color: $accent-color
  padding: 8px
  .name
    width: 40%
  .reference
    width: 60%
  .allocation
    width: 15%
    text-align: center
  .total
    width: 24%
    text-align: right

.table-row-item
  border-bottom: 1px solid $light-gray
  padding: 8px
  &.full-width
    width: 100%
  &.meter-item
    .name
      width: 40%
    .reference
      text-align: left
      width: 60%
    .allocation
      width: 15%
      text-align: center
    .link
      width: 15%
      text-align: center
    .amount
      width: 24%
      text-align: right
  &.space-item
    .name
      width: 30%
    .description
      width: 40%
    .reference
      width: 70%
    .link
      width: 10%
  .checkbox
    padding-top: 0px
  label
    margin-bottom: 0

.table-row-grouping
  padding-bottom: 30px

.table-row-grouping
  .table-cell
    display: table-cell

.table-cell
  display: inline-table

#spaces-list
  border-right: 1px solid $light-accent-color

#invoice-meter-list
  margin: 30px 0

#meter-list
  min-height: 360px
  max-height: 360px
  border: 1px solid $light-accent-color
  border-radius: 4px
  overflow: scroll

#new_billable_meter
  padding: 0 40px

#meter-filter
  float: right
  margin-top: 10px
  width: 40%
  min-width: 200px
  border-radius: 4px  
  border: 1px solid $light-accent-color

.clickable-row
  cursor: pointer
  &:hover
    background-color: $light-accent-color

div > .clickable-row
  @extend .row
  margin-left: 0
  margin-right: 0

.selected
  background-color: $darker-accent-color !important

#login-form
  margin-left: auto
  margin-right: auto
  padding: 3% 10%
  background: white
  border-radius: 2px

#login-button
  padding: 4px 50px
  margin-top: 10px

.lightbox
  z-index: 1030
  position: fixed
  top: 0
  width: 100%
  background: rgba(255, 255, 255, .98)
  .close 
    position: absolute
    margin: 10px 0 0 44px
    font-size: 3.4em
    font-weight: lighter
    color: $accent-color

.full-screen-menu
  @extend .lightbox
  @extend .h-100
  background-color: $translucent-accent-color
  .menu
    margin-top: $navbar-height
    padding-top: 1rem
    padding-right: 20%
    display: inline-block
    float: right
    font-size: 1.6rem
    text-align: right
    list-style-type: none
    text-decoration: none
    .menu-item
      padding: 1rem 
      a     
        text-decoration: none
        color: white
    .menu-item-small
      @extend .menu-item
      font-size: 1rem 
  .menu-logo
    margin-top: $navbar-height
    padding-top: 1rem
    padding-left: 10%
    img
      width: 12vw
      min-width: 140px     

.devise-option
  padding-top: 8px
  font-size: .9em
  color: $gray
  font-style: italic
  font-weight: 100