$gray: #A1A1A1;

.editable-container {
  position: absolute;
  zoom: .8 !important;
  z-index: 1;
  background-color: white;
  margin-top: -8px;
}

.billable-meter-item .rate .editable-container {
  top: -25px;
  left: 20px;
}

.meter-item .allocation .editable-container {
  top: -20px;
  left: 0px;
  input {
    width: 120px;
  }
}

.editable-click {
  text-decoration: none !important;
  border-bottom: none !important;
  color: #212529;
}


a.editable-click:hover {
  color: $gray;
  border-bottom: 1px dashed $gray !important;
}
