
<% i=0 %>
<div class="table">
  <% billing_cycles.drop(1).each do |date,invoices| %>
    <div class="table-row">
      <h4 data-toggle="collapse" data-target=".accordion-<%= i %>" class="text-center panel-heading clickable collapsed"><%= date %></h4>
    </div>      
    <div class="accordion-<%= i %> collapse table-row-grouping">
      <%= render 'invoices_list', invoices: invoices %>
    </div>
    <hr />
    <% i+=1 %>
  <% end %>
</div>
