
<div class="row">
  <div class="offset-2 col-8 text-center">
    <h2>Your Account</h2>
    <hr>    
    <br />
  </div>
</div>

<div class="row">
  <div class="offset-2 col-4 text-left">
    <%= render "rates/user_list", rates: @account.rates %>
    <br />
    <hr>
    <br />
    <%= render "admin_costs/account_list", admin_costs: @account.admin_costs %>
  </div>
  <div class="col-4">
    <%= render :template => 'devise/registrations/edit' %>
  </div>
</div>
